
/*   table    */
.img {
  width: 1220px;
}
.img img{
  padding-top: 60px;
  margin-bottom: 50px;
  width:inherit;
}
.wr{
  width: 1220px;
  margin: auto;
  margin-bottom: 59px;
}

table{
  width:1220px;
}
tr td:nth-child(1){
  border-top: 1px dotted rgba(196,196,196,0.9);
}

tr td{
  font-size: 14px;
  line-height: 40px;
  border-bottom:1px dotted rgba(196,196,196,0.9);
  text-align: center;
  font-weight: lighter;
  padding-bottom:10px;
  padding-top:10px;
}

tr td span{
  font-size:15px;
  color:#FFA600;
}
